<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.npyl.ManageConkySMJobBlessHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SMJobBlessHelper</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;org.npyl.Manage-Conky&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Mac Developer: n.pylarinos@hotmail.com (C674784ZBL)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
